# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug
*.pdb
*.db

#cmake 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
[Bb][Uu][Ii][Ll][Dd]/

#dent
/DentSlicer.pro.user.*
/DentSlicer.pro.user
/release
/debug
/Win32
/x64
/packages
/.vscode
/.vs
/DentSlicer.vcxproj.user
/.qmake.stash
/enc_temp_folder
*.h.*
*.cpp.*
*.autosave

packagingTools/DSBuild.nsi
packagingTools/setup
packagingTools/DentSlicerSetup.exe
packagingTools/appcast.xml



