/DentSlicer.pro.user.*
/DentSlicer.pro.user
/release
/debug
/Win32
/x64
/packages
/.vscode
/.vs
/DentSlicer.vcxproj.user
/.qmake.stash
/enc_temp_folder
*.h.*
*.cpp.*
*.autosave

packagingTools/DSBuild.nsi
packagingTools/setup